# Entornos virtuales
venv/
.venv/

# Archivos compilados de Python
__pycache__/
*.pyc

# Bases de datos y archivos temporales
*.db
*.sqlite
*.db-shm
*.db-wal
*.sqbpro

# Carpetas de datos y backups
backups_automaticos/
node_modules/

# Configuración local y secretos
.env
.vscode/__pycache__/
*.pyc
